<h1>Galeria de Fotos</h1>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="contentImage in contentImagen">
    <div class="thumbnail">
      <img src="{{contentImage.url}}" alt="...">
      <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></span>
      <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
      <div class="caption">
        <h3>{{contentImage.title}}</h3>
        <p>{{contentImage.text}}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <pre>Selected date is: <em>{{dt | date : "dd-MM-y" }}</em></pre>
        <h4>Popup</h4>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>
